//Returns percentage value in horizontal axis
@function hp($pixels) {
	$percent: $pixels/1080px * 100%;
	@return floor($percent);
}

//Returns percentage value in vertical axis
@function vp($pixels) {
	$percent: $pixels/1920px * 100%;
	@return floor($percent);
}

* {
	box-sizing: border-box;
}

.calc-container {
	//Only change these variables
	$btn-dim: 50px;
	$gutter: 16px;
	$padding: 20px;
	$screen-color: #000;
	$calc-border-clr: #131313;
	$btn-border-clr: #707070;
	$grey: #dad8d8;

	$screen-size: ($btn-dim * 4) + ($gutter * 3);
	& {
		margin: 70px auto 0;
		width: $screen-size + ($padding * 2);
		padding-left: $padding - $gutter;
		padding-top: $padding;
		padding-bottom: $padding;
		border: 3px solid $calc-border-clr;
	}

	.calc-screen {
		width: $screen-size;
		height: $btn-dim;
		margin: $gutter;
		padding-top: ceil(0.2 * $btn-dim); //#0% of Button-size/Screensize
		padding-right: ceil(0.1 * $btn-dim);
		overflow-x: auto;
		direction: rtl;

		background-color: $screen-color;
		color: #fff;
		// text-align: end;
		font-size: 1.7rem;

		//Hide scroll-bar
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}
	}

	.calc-btn {
		width: $btn-dim;
		height: $btn-dim;
		margin-left: $gutter;
		font-size: 1.5rem;
		background-color: #fff;
		border: 0 solid $btn-border-clr;

		&:active {
			background-color: #707070;
			color: #fff;
		}

		@media (hover: hover) and (pointer: fine) {
			&:last-child:hover {
				background-color: #ff7a0d;
			}
			&.grey:hover {
				background-color: #8d8d8d;
				color: #fff;
			}
			&:hover {
				border-width: 2px;
			}
		}

		&:last-child {
			background-color: #fd9d1f;
			color: #fff;
			border: none;
			font-weight: bold;

			&:active {
				background-color: #ff7a0d;
			}
		}

		&.grey {
			background-color: $grey;
			border: 1px solid $btn-border-clr;
			color: $btn-border-clr;
			font-weight: bold;

			&:active {
				background-color: #8d8d8d;
			}
		}
	}

	.double {
		width: ($btn-dim * 2) + $gutter;
		// text-align: end;
	}
	.triple {
		width: ($btn-dim * 3) + (2 * $gutter);
	}

	.calc-row {
		font-size: 0; //Hack to remove invisible blank spaces bw buttons
		margin: $gutter 0;
	}
}
